SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_user_name
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_ROLE=ACCOUNTADMIN
SNOWFLAKE_DATABASE=TASTY_BYTES_DBT_DB
SNOWFLAKE_WAREHOUSE=TASTY_BYTES_DBT_WH
SNOWFLAKE_SCHEMA=DEV
